/*-----------section--------------*/
section{
    padding-top: 40px;
    padding-bottom: 40px;
}

section .section-title{
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 25px;
}

section .section-line{
    background-color: black;
    height: 2px;
    width: 60px;
    margin: 0 auto;
}

/*-----------header--------------*/

#header{
    width: 100%;
    position: fixed;
    padding:30px 0;
    text-align: center;
    z-index: 999;
    transition: all 0.5s;
}

#header.header-scrolled{
    padding:10px 0;
    background: white;
    box-shadow:  0 7px 2px -2px rgba(0,0,0,.2);
}

#header .logo {
    font-family: 'Patua One', cursive;
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 2px;
    margin-right: auto;
}
  
#header .logo a {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    max-height: 150px;
}
#header .logo img.header-scrolled {
    max-height: 40px;
}

#header .logo .logo-color {
    color: #e80e0e;
}

#header .nav-menu li{    
    padding: 10px 0 10px 24px;
    position: relative;
}

#header .nav-menu a{
    color: rgba(255, 255, 255);
    position: relative;
    transition: 0.2s;
    font-size: 18px;
    font-weight: bold;
    padding: 0 2px;
}

#header ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    width: 0px;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

#header ul > li > a:hover:before, #header ul .active > a:before{
    visibility: visible;
    width: 100%;
}

#header .nav-menu a.header-scrolled{
    color: #352929;
}


#header .nav-menu .dropdown-menu a{
    color: #2c4964;
    padding: 10px;
}

#header .nav-menu .dropdown-menu a:hover{
    color: #e80e0e;
}
 

/*-----------topban--------------*/

#topban{
    width: 100%;
    height: 100vh;
    background: url("../img/insurance.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    padding-top: 100px;
}

#topban .insurance-type-box{
    height: 300px;
    padding: 25px 10px;
    cursor: pointer;
}

#topban .insurance-type-box .icon i{
    color: #ff5e00;
    font-size: 2em;
    padding: 10px;
}

#topban .insurance-type-box:hover .icon i,#topban .insurance-type-box:hover a{
    color: white;
}

#topban .insurance-car, #topban .insurance-bike{
    height: 100%;
    border-radius: 8px;
    text-align: center;
    padding: 70px 20px;
    background-color: white;
    font-size: 1.6em;
    font-weight: bold;
    align-items: center;
}

#topban .insurance-type-box:hover .insurance-car, #topban .insurance-type-box:hover .insurance-bike{
    background-color: #ff5e00;
}

#topban .insurance-car label, #topban .insurance-bike label{
    color: #1d456b;
}

#topban .topban-info{
    padding: 20px 30px;
}

#topban .topban-info h1{
    color: white;
    font-size: 60px;
    font-weight: 800;
}

#topban .topban-info p{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    color: white;
}

@media (max-width: 388px) {
    #topban{
        padding-top: 520px;
    }
}

/*-----------aboutus--------------*/

#aboutus{
    overflow: hidden;
}

#aboutus .about-us-details h1{
    font-size: 44px;
    font-weight: 800;
}

#aboutus .about-us-details p{
    font-family: 'Roboto', sans-serif;
}

#aboutus .read-more{
    color: white;
    background: #e80e0e;
    border-radius: 5px;
    height: 40px;
    border: none;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}


/*-----------aboutus--------------*/

#work{
    background: #f5f2f2;   
}

#work h1, #work h2{
    font-family: 'Oswald', sans-serif;
}

/*-----------payment partner--------------*/


#payment-partner .col-lg-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#payment-partner img {
    width: 80%;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 20px 0;
    cursor: pointer;
}

#payment-partner img:hover {
    -webkit-filter: none;
    filter: none;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    #payment-partner img {
        width: 40%; 
    }
}

@media (max-width: 575px) {
    #payment-partner img {
        width: 30%;
    }
}

/*-----------Footer--------------*/

#footer{
    background: #e8e8e8;
    padding-top: 20px;
    color: black;
    font-size: 16px;
}

#footer .footer-top{
    padding-bottom: 20px;
}

#footer .footer-desc{
    font-size: 14px;
    text-align: justify;
    padding-bottom: 20px;
}

#footer .payment-box h3{
    text-align: center;
    padding-bottom: 20px;
}

#footer .payment-box .payment-img img{
    width: 80%;
}

#footer .payment-box .payment-img .ime-img{
    padding-top: 10px;
}

#footer .payment-box .payment-img .nabil-img{
    padding-top: 16px;
}

#footer .subscribe{
    font-family: 'Roboto', sans-serif;
}

#footer .subscribe h2{
    font-weight: 800;
}


#footer .useful-links{
    background: #06215d;
    color: white;
    font-size: 16px;
    text-align: center;
}  

#footer .links{
    list-style: none;
    text-align: center;
}

#footer .links>li>a{
    color: white;
    margin-right: 5px;
}

#footer form input{
    background: white;
    outline: none;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 35px;
    text-indent: 5px;
}

#footer form button{
    color: red;
    background: white;
    outline: none;
    border-radius: 5px;
    border: none;
    width: 35px;
    height: 35px;
}

#footer .copy-right{
    padding: 5px;
    background: white;
    text-align: center;
    color: black;
}

#footer .copy-right p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

/*--- popup ----*/

#fill-popup{
    padding: 20px 0;
}

#fill-popup .modal-content{
    padding: 20px 0;
    background-color: #bb0808;
    color: white;
}

#fill-popup h2{
    text-align: center;
    padding-bottom: 10px;
}

#fill-popup .close{
    position: absolute;
    right: 5px;
    top: 0;
    background: none;
    color: white;
}
#fill-popup .close span{
    color: white;
}

#fill-popup .submit{
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}


/*-----------compareban--------------*/

#compareban{
    width: 100%;
    background-attachment: fixed;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 0px;
    -moz-box-shadow:    inset 10px 0 10px #000000;
    -webkit-box-shadow: inset 10px 0 10px #000000;
    box-shadow:         inset 10px 0 10px #000000;
}

#compareban .sidebar{
    background: #c31313;
    padding-top: 40px;
    padding-left: 40px;
    color: white;
    display: block;
    -moz-box-shadow:    inset 3px -3px 10px #000000;
    -webkit-box-shadow: inset 3px -3px 10px #000000;
    box-shadow:         inset 3px -3px 10px #000000;
}

#compareban .sidebar .compare-options{
    padding-top: 30px;
    font-size: 16px;
}

#compareban .sidebar .vehicle-details{
   padding-top: 40px;
   font-size: 16px;
   font-family: 'Patua One', cursive;
}

#compareban .insurance-partner{
    padding: 50px;
    padding-bottom: 80px;
}

#compareban .card-insurance{
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Roboto';
    height: 420px;
    padding: 10px;
    padding-top: 20px;
 }

 #compareban .card-insurance .insurance-image {
    height: 100px;
    overflow: hidden;
}

#compareban .card-insurance span {
    font-size: 12px;
}

#compareban .card-insurance h5 {
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 1em;
    height: 27px;
    margin-top: 10px;
    overflow: hidden;
}

#compareban .card-insurance h3 {
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1;
    font-weight: 600;
    height: 36px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    padding-top: 5px;
}

#compareban .card-insurance h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight:800;
    line-height: 1em;
    height: 25px;
    margin-top: 5px;
    overflow: hidden;
}

#compareban .card-insurance h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    height: 38px;
    margin-top: 5px;
    overflow: hidden;
}

#compareban .card-insurance .btn-danger {
    margin-top:5px;
    background-color: #d82828;
}